body {
  background-color: darkblue;
  color: white;
  font-family: "Scope One", serif;
  fobnt-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
}


section {
  display: grid;
  place-items: center;
  align-content:center;
  min-height: 100vh;
  margin: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-family: "Scope One", serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: "Scope One", serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-family: "Scope One", serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20px);
    transition: all 1s ease-out;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
}

@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    } 
}
