
/* main body text */
body {
  background-color: #fcbcea;
  padding: 50px;
  text-align: left;
  font-size: 16px;
  font-family: Georgia, cursive;
  line-height: 1.6;
}

.nav {
  z-index: 99;
  top: 40%;
  padding-left: 2em;
  display: flex;
  flex-direction: column; /* This makes them horizontal */
  justify-content: flex-start; /* Even spacing */
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping if needed */
  gap: 10px; /* Space between buttons */
  }

/* main page title text */
h2{
  text-align: center;
  color: #581a8e;
  font-size: 40px;
  font-family: "Glass Antiqua", cursivex;
}

/* entries title text */
h1{
    text-align: left;
    color: #581a8e;
    font-size: 40px;
    font-family: "Glass Antiqua", cursivex;
}

/* entries subheaders */
h3{
  text-align: left;
  color: #581a8e;
  font-weight:normal;
  font-size: 18px;
  font-style:italic;
  font-family: Georgia, serif;
}

/* main page body text */
h4{
  text-align: center;
  color: #581a8e;
  font-weight:normal;
  font-size: 18px;
  font-family: Georgia, cursive;
  line-height: 1.6;
}

.glass-antiqua-regular {
  font-family: "Glass Antiqua", cursive;
  font-weight: 400;
  font-style: normal;
}

  /* shapes i experimented with*/

.box {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 150px;
  }

  .oval {
    width: 1200px;
    height: 400px;
    background: white;
    border-radius: 50%;
  }

  /* button style*/

  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-family:cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #842b59;
  }
.button1:hover {
  background-color: #842b59;
  cursor: url("imgs/pointer.png"), pointer;
}

.button1:active {
  background-color: #ff00aa;
  box-shadow: 0 5px #842b59;
  transform: translateY(4px);
}


/* cursor settings */
html {
  cursor: url("imgs/cursor.png"), auto;
}

.clickable-element {
  cursor: url("imgs/pointer.png"), pointer;
}