
body {
  background: rgb(0,254,218);
  background: linear-gradient(90deg, rgba(0,254,218,1) 0%, rgba(0,91,218,1) 46%, rgba(119,205,203,1) 100%);
  color:  white;
  font-family: arial;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.blob {
  filter: blur(10px);
  transform: translateY(20px);
  transition: all 0.6s ease-out;
  width: 240px;
  height: 207px;
  background: #030961;
  border-radius: 50%;
  mix-blend-mode: color-dodge;
  
  /* Add these properties */
  position: fixed;
  top: 0;
  left: 0;
  animation: floatAround 20s infinite alternate ease-in-out;
}

@keyframes floatAround {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(100vw - 240px), 30vh);
  }
  50% {
    transform: translate(50vw, calc(100vh - 207px));
  }
  75% {
    transform: translate(20vw, 60vh);
  }
  100% {
    transform: translate(calc(80vw - 240px), 10vh);
  }
}

.hidden{
  opacity: 0;
  filter: blur(40px);
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
  /* -webkit-animation: slide-in-blurred-left 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both; */
}