.wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
}
  
.wrapper > * {
  flex: 1 100%;
}

.nav {
  z-index: 99;
  top: 5%;
  padding-left: 2em;
  display: flex;
  flex-direction: row; /* This makes them horizontal */
  justify-content: flex-start; /* Even spacing */
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping if needed */
  gap: 10px; /* Space between buttons */
}

/*
.title {
    border: 10px solid deepskyblue;
}

.bodytext {
    border: 10px solid blue;
    border-image-repeat: round;
}
  
.nav{
  border: 10px solid lavender;
}

  
/* for mobile */
body{
  background-color: #fcbcea;
}


@media all and (max-width: 800px) {
    .title {
        display: flex;
        width:80rem;
        order: 1;
        font-family: "Glass Antiqua", cursive;
        width: 80%;
        text-align: left;
        font-size: 3em;
        padding: 1em;
        color: purple;
      }

    .bodytext{
      display: flex;
      order: 2;
      height: 10%;
      width: 80%;
      justify-content: space-evenly;
      align-items: flex-start;
      font-family: 'Courier New', Courier, monospace;  
      font-size: 1em;
      color: purple;
      align-items: center;
      transform: translate(12%,0%);
    }
    
    .nav{
      padding-top: 2em;
      flex-direction: row;
  }

      /*border image repeat*/
    #bordered {
      width: 80%;
      margin-bottom: 5%;
      padding: 4%;
      border: 10px solid;
      border-image: url("../../imgs/lace.png") 300;
      border-image-repeat:repeat; /* Can be changed in the live sample */
    }
}
  
  
  
/* for large screens */
  
@media all and (min-width: 801px) {
    .title {
      /* this says MAIN TAKES UP 3 COLUMNS > change this number to change width   */
      flex: 1;
      
      /* this says MAIN IS 1st IN ORDER */
      order: 1;
      
      /*  this is all your font styling and positioning for MAIN    */
      font-family: "Glass Antiqua", cursive;
      text-align: left;
      font-size: 3em; 
      font-weight: bold;
      color: purple;
      width: 91%;
      padding-left: 1em;
      padding-top: 1em;
      padding-right: 1em;
      padding-bottom: -0.5em;
      
    }

    .bodytext {
      align-items: center;
      flex: 4;
      order: 2;
      width: 91%;
      height: 100px;
      transform: translate(5%,0%);
      /*
      padding-top: 7%;
      padding-left: 3%;
      padding-right: 3%;
      bottom: 20px;
      /*border: 10px solid limegreen;*/
      justify-content: left;
      align-items: left;
      font-family: 'Courier New', Courier, monospace;  
      font-style: regular;
      font-size: 1em;
      color: purple;
    }

    .nav{
      padding-top: 2em;
      flex-direction: row;
    }

      /*border image repeat*/
      #bordered {
        width: 91%;
        margin-bottom: 10%;
        bottom: 7%;
        padding: 4%;
        border: 10px solid;
        border-image: url("../../imgs/lace.png") 300;
        border-image-repeat:repeat; /* Can be changed in the live sample */
      }
}



  /* button style*/

  .button {
    display: inline-block;
    padding: 0.5em 1.1em;
    font-size: 1.3em;
    font-family:cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em purple;
  }
  
.button1:hover {
  background-color: purple;
  border-radius: 30px;
  cursor: url("../../imgs/pointer.png"), pointer;
}

.button1:active {
  background-color: #ff00aa;
  box-shadow: 0 5px purple;
  transform: translateY(4px);
  border-radius: 30px;
}

.currentPage{
  display: inline-block;
  padding: 0.5em 1.1em;
  font-size: 1.3em;
  font-family:cursive;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: purple;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0.2em purple;
}

/* cursor settings */
html {
  cursor: url("../../imgs/cursor.png"), auto; 
}

.clickable-element {
  cursor: url("../../imgs/pointer.png"), pointer;
}
  