body {
  /* margin: 5em; */
  height: 560vh;
  background: linear-gradient(rgb(26, 151, 162), #7531be);
  font-family: "Antic Didone", serif;
  color:white;
  font-style: normal;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 2em;
  /* margin:1em;  */
  padding:auto;
  width: 100%;
  color:white;
  transform: translateY(0);
  transition: transofrm 0.1s ease-out;
}

/*  desktop responsive layout */

@media all and (min-width: 801px) {
  section{
    display: grid;
    place-items: center;
    align-content:center;
    align-items: center;
    min-height: 20vh;
    margin: 3em;
    /* padding-left: 10em;
    padding-right: 10em; */
  }
  .title {
      font-size: 3em;
      padding-left: 5em;
      padding-right: 5em;
      /* padding: 1em; */
    }
  .setting{
    /* padding-left: 7em; */  
    padding-left: 5em;
    padding-right: 5em;
    font-size: 1.2em;
      
  }

  .bodytext {
    padding-left: 5em;
    padding-right: 5em;
    align-content: center;
    font-size: 1.2em;
  }

  .nav{
    z-index: 99;
    bottom: 20%;
    padding-bottom: 5em;
    align-items: stretch;
    font-style: bold;
    color: pink;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-family:cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #842b59;
  }

  h1 {
    font-family: "Antic Didone", serif;
    font-size: 3rem;
    text-align: center;
  }
  
  h2 {
    font-family: "Antic Didone", serif;
    font-size: 2rem;
    text-align: center;
  }
  
  h3 {
    font-family: "Antic Didone", serif;
    font-size: 1.5rem;
    text-align: center;
  }
}

/*  mobile responsive layout */

@media all and (max-width: 800px) {
  section{
    display: grid;
    place-items: center;
    align-content:center;
    min-height: 100vh;
    margin: 1rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .title {
    font-size: 0.7em;
    text-align: center;
  }
  .setting{
      font-size: 0.2em;
      /* padding-left: 7em; */
      align-content: center;
      align-items: center;
  }

  .bodytext {
    align-self: center;
    align-content: center;
    align-items: center;
  }
    .nav{
      z-index: 99;
      padding-bottom: 5em;
      align-items: stretch;
      font-style: bold;
      color: pink;
    }
  .button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    font-family:cursive;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ff00aa;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #842b59;
    }

    h1 {
      font-family: "Antic Didone", serif;
      font-size: 2rem;
      text-align: center;
    }
    
    h2 {
      font-family: "Antic Didone", serif;
      font-size: 1.6rem;
      text-align: center;
    }
    
    h3 {
      font-family: "Antic Didone", serif;
      font-size: 1rem;
      text-align: center;
    }
    p{
      font-family: "Antic Didone", serif;
      font-size: 1.2rem;
      text-align: center;
    }
}

/* .section1 {
  display: grid;
  place-items: center;
  align-content:center;
  min-height: 100vh;
  margin: 30px;
  padding-left: 50px;
  padding-right: 50px;
} */



/* text animation settings */

.hidden{
  opacity: 0;
  filter: blur(40px);
  transform: translateY(20px);
  transition: all 0.7s ease-out;
}

.show{
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


/* @media (prefers-reduced-motion){
  .hidden{
      transition: none;
  } 
} */

/* text styles */


  /* button style*/
  
.button1:hover {
  background-color: #842b59;
  cursor: url("../../imgs/pointer.png"), pointer;
}

.button1:active {
  background-color: #ff00aa;
  box-shadow: 0 5px #842b59;
  transform: translateY(4px);
}


/* cursor settings */
html {
  cursor: url("../../imgs/cursor.png"), auto; 
}

.clickable-element {
  cursor: url("../../imgs/pointer.png"), pointer;
}